@import "libs/reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  line-height: 1.25
}

#wrapper {
  width: 100%;
}

.container-header {
  background: url(../img/bkg.jpg);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 1em;



}

.ham {
  position: absolute;
  display: inline-block;
  background: url(img/burg.png);
  width: 32px;
  height: 32px;
  background-position: left top;

  top: 26px;
  right: 0;

}

.open {
  display: inline-block;
  margin-right: 40px;

}

.open h2 {
  font-weight: 200;
  font-size: 85%
}

.button-open {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  padding-bottom: 10px;
  padding-left: 40px;
  /* background-color: beige;*/

}

.header-content {
  position: absolute;
  top: 25em;

}

.header-content h1 {
  font-size: 1.5em;
  font-weight: bold;
}
