/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  line-height: 1.25;
}

#wrapper {
  width: 100%;
}

/*---------header-----------*/
.container-header {
  background: url(../img/bkg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.button-menu-open {
  text-align: right;
  position: absolute;
  right: 9px;
  width: 109px;
  height: 49px;
  padding-right: 4px;
  display: inline-block;
  margin-right: -4px;
}

.ham {
  position: absolute;
  background: url(../img/burg.png) 0 0;
  width: 32px;
  height: 32px;
  background-position: left top;
  top: 1.2rem;
  right: -9px;
}

.open h2 {
  position: absolute;
  right: 2rem;
  top: 0.7rem;
}

.button-menu-open a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  padding-bottom: 10px;
  position: absolute;
}
.button-menu-open a:hover {
  opacity: 0.4;
  cursor: pointer;
  -webkit-transition: opacity 2s ease-out;
  -moz-transition: opacity 2s ease-out;
  -o-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
}

.button-menu-close {
  margin: 10px 0;
  padding-right: 40px;
}

.button-menu-close a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  padding-bottom: 10px;
  padding-left: 40px;
}
.button-menu-close a:hover {
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 2s ease-out;
}

.close .ham {
  background-position: left bottom;
  top: 6px;
  right: 1px;
}

.menu-plein-ecran {
  background-color: #3b685b;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  z-index: 1;
}

.menu-plein-ecran:target {
  display: block;
}

.main-menu a {
  text-decoration: none;
  color: #fff;
  padding-left: 10px;
  font-size: 3em;
}

.main-menu li {
  margin-top: 8vh;
}

#header {
  position: absolute;
  top: 51vh;
  left: 4vw;
}

#header h1 {
  font-size: 210%;
  font-weight: bold;
}

#header h2 {
  font-size: 110%;
  font-weight: bold;
}

/*main*/
figure {
  margin-top: 5%;
  margin-bottom: 5%;
}

article a {
  text-decoration: none;
  color: #549ff3;
}

article h2 {
  margin-top: 3%;
  margin-bottom: 3%;
  font-weight: normal;
  font-size: 4vw;
}

.flex-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.col {
  margin: 1em 0;
  padding-left: 0.625rem;
}

.has-gutter {
  margin-right: 1%;
  margin-left: 1%;
}

/*grille*/
.s-col-1 {
  max-width: calc((100% / 12) - 1%);
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.s-col-2 {
  max-width: calc(((100% / 12) * 2) - 1%);
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.s-col-3 {
  max-width: calc(((100% / 12) * 3) - 1%);
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.s-col-4 {
  max-width: calc(((100% / 12) * 4) - 1%);
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.s-col-5 {
  max-width: calc(((100% / 12) * 5) - 1%);
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.s-col-6 {
  max-width: calc(((100% / 12) * 6) - 1%);
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.s-col-7 {
  max-width: calc(((100% / 12) * 7) - 1%);
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.s-col-8 {
  max-width: calc(((100% / 12) * 8) - 1%);
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.s-col-9 {
  max-width: calc(((100% / 12) * 9) - 1%);
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.s-col-10 {
  max-width: calc(((100% / 12) * 10) - 1%);
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.s-col-11 {
  max-width: calc(((100% / 12) * 11) - 1%);
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.s-col-12 {
  max-width: calc(((100% / 12)*12) - 1%);
  margin-left: 0.5%;
  margin-right: 0.5%;
}

/*fin grille*/
/*contact*/
#contact {
  background: url(../img/bkg-form.jpg);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 2em 0 1em 0.5em;
}

.formulaire {
  display: flex;
  flex-flow: column wrap;
}

.heading h1 {
  color: #669;
  font-weight: bold;
  font-size: 1.7em;
}

#formulaire {
  max-width: 900px;
}

#formulaire-container {
  max-width: 900px;
  padding: 1.2em;
  margin: 0 auto;
  border-radius: 15px;
  background-color: rgba(250, 250, 250, 0.5);
}

textarea {
  height: 20vh;
}

.item1,
.item2,
.item3,
.item4 {
  width: 100%;
  padding: 0 10px 10px 10px;
  display: block;
  padding: 10px 0;
}

.button {
  text-align: center;
  padding: 5px;
  display: block;
  padding: 10px;
}

.btn1,
.btn2 {
  padding: 1em;
}

input[type=text],
input[type=phone],
input[type=email],
textarea {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
}

input[type=submit],
input[type=reset] {
  width: 8em;
  border-radius: 25px;
  padding: 0.5vw;
  background: linear-gradient(#b9bbde, #669);
  color: #fff;
  font-size: 1.2em;
}
input[type=submit]:hover,
input[type=reset]:hover {
  background: linear-gradient(#666, #444);
}

label {
  color: #669;
  font-weight: bold;
  display: block;
  padding: 10px 0;
}

/*foooter*/
.main-footer {
  background: #ff7fcf;
}

.main-footer li {
  background-color: rgba(120, 120, 120, 0.2);
  margin-bottom: 0.15em;
  margin-left: 1em;
  min-width: 26%;
}

.main-footer a {
  border-left: 0.75em solid #ededed;
  color: #ededed;
  padding-left: 0.75em;
  text-decoration: none;
}

.main-footer a:hover {
  background-color: rgba(120, 120, 120, 0.8);
  color: #fff;
}

.flex-container-footer {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  padding: 1.1875rem;
  max-width: 1200px;
  margin: 0 auto;
}

/*fin footer*/
@media screen and (min-width: 740px) {
  .flex-container {
    flex-flow: row wrap;
  }

  article h2 {
    font-size: 2vw;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  #formulaire-flex {
    display: flex;
    flex-flow: row wrap;
  }

  .formulaire {
    width: 50%;
  }

  .formulaire:first-child {
    padding-right: 2em;
  }

  .formulaire:nth-child(2) {
    padding-left: 2em;
  }

  .main-footer ul {
    margin: 0 auto;
    width: 96%;
  }

  .main-footer li {
    margin-bottom: 0.2em;
    margin-left: 1em;
    min-width: 26%;
    flex: 0 1 33%;
  }

  .flex-container-footer {
    flex-flow: row wrap;
    margin: 0 auto;
  }
}
.m-col-1 {
  width: calc(((100% / 12)* 1) - 2%);
}

.m-col-2 {
  width: calc(((100% / 12)* 2) - 2%);
}

.m-col-3 {
  width: calc(((100% / 12)* 3) - 2%);
}

.m-col-4 {
  width: calc(((100% / 12)* 4) - 2%);
}

.m-col-5 {
  width: calc(((100% / 12)* 5) - 2%);
}

.m-col-6 {
  width: calc(((100% / 12)* 6) - 2%);
}

.m-col-7 {
  width: calc(((100% / 12)* 7) - 2%);
}

.m-col-8 {
  width: calc(((100% / 12)* 8) - 2%);
}

.m-col-9 {
  width: calc(((100% / 12)* 9) - 2%);
}

.m-col-10 {
  width: calc(((100% / 12)* 10) - 2%);
}

.m-col-11 {
  width: calc(((100% / 12)* 11) - 2%);
}

.m-col-12 {
  width: calc(((100% / 12)* 12) - 2%);
}

@media screen and (min-width: 1628px) {
  .m-self-start {
    align-self: flex-start;
  }

  .main-footer li {
    margin-bottom: 0.2em;
    margin-left: 1em;
    min-width: 26%;
    flex: 0 1 25%;
  }

  .flex-container-footer {
    flex-flow: row wrap;
  }

  .l-col-1 {
    width: calc(((100% / 12)* 1) - 2%);
  }

  .l-col-2 {
    width: calc(((100% / 12)* 2) - 2%);
  }

  .l-col-3 {
    width: calc(((100% / 12)* 3) - 2%);
  }

  .l-col-4 {
    width: calc(((100% / 12)* 4) - 2%);
  }

  .l-col-5 {
    width: calc(((100% / 12)* 5) - 2%);
  }

  .l-col-6 {
    width: calc(((100% / 12)* 6) - 2%);
  }

  .l-col-7 {
    width: calc(((100% / 12)* 7) - 2%);
  }

  .l-col-8 {
    width: calc(((100% / 12)* 8) - 2%);
  }

  .l-col-9 {
    width: calc(((100% / 12)* 9) - 2%);
  }

  .l-col-10 {
    width: calc(((100% / 12)* 10) - 2%);
  }

  .l-col-11 {
    width: calc(((100% / 12)* 11) - 2%);
  }

  .l-col-12 {
    width: calc(((100% / 12)* 12) - 2%);
  }
}

/*# sourceMappingURL=style.css.map */
